
@{
    ViewData["Title"] = "Access Denied";
    ViewBag.State = "Sorry You Don't Have A permission!";
    ViewBag.StateUrl = "Login";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div class="signup-form">
    <h2 class="form-title">Access Denied</h2>
    <h4 class="text-danger">Sorry You Don't Have A permission!</h4>
</div>