
@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="signup-form">
    <h3 class="form-title">Cheack Your Inbox</h3>
    <div>
        Password reset link been sent to your email, Please Cheack Your Inbox
    </div>
    <div>
        <a href="https://mail.google.com/mail/u/0/#inbox">Your Inbox</a>
    </div>
</div>

