@model RoleViewModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Role Delete</h1>
<form asp-action="Delete">
    <div asp-validation-summary="All"></div>
    <div class="mb-3">
        <label class="col-form-label" asp-for="Name"></label>
        <input class="form-control" asp-for="Name" readonly />
    </div>
    <button class="btn btn-danger">Delete</button> |
    <a class="btn btn-light" asp-action="Index">Back To List</a>
</form>
@section Scripts {
    <Partial name="_ValidationScriptsPartial"></Partial>
}