@model RoleViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>Role Details</h1>
<div class="mb-3">
    <label class="col-form-label" asp-for="Id"></label>
    <input class="form-control" asp-for="Id" readonly />
</div>
<div class="mb-3">
    <label class="col-form-label" asp-for="Name"></label>
    <input class="form-control" asp-for="Name" readonly />
</div>
<a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
<a class="btn btn-light" asp-action="Index">Back To List</a>
