@model RoleViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Role Information</h1>

<form asp-action="Edit">
    <div asp-validation-summary="All"></div>
    <div class="mb-3">
        <label class="col-form-label" asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <button class="btn btn-primary">Edit</button> |
    <a class="btn btn-light" asp-action="Index">Back To List</a>
</form>
@section Scripts {
    <Partial name="_ValidationScriptsPartial"></Partial>
}