@model DepartmentViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Update Department</h1>

<form asp-action="Edit">
    <div asp-validation-summary="All"></div>
    <div class="mb-3">
        <label class="col-form-label" asp-for="Code"></label>
        <input class="form-control" asp-for="Code" />
        <span class="text-danger" asp-validation-for="Code"></span>
    </div>
    <div class="mb-3">
        <label class="col-form-label" asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="mb-3">
        <label class="col-form-label" asp-for="DateOfCreation"></label>
        <input class="form-control" asp-for="DateOfCreation" />
        <span class="text-danger" asp-validation-for="DateOfCreation"></span>
    </div>
    <button class="btn btn-primary">Edit</button> |
    <a class="btn btn-light" asp-action="Index">Back To List</a>
</form>