@model UserViewModel
@{
    ViewData["Title"] = "Delete";
}

<h1>User Delete</h1>
<form asp-action="Delete">
    <div asp-validation-summary="All"></div>
    <div class="mb-3">
        <label class="col-form-label" asp-for="UserName"></label>
        <input class="form-control" asp-for="UserName" readonly />
    </div>
    <div class="mb-3">
        <label class="col-form-label" asp-for="FirstName"></label>
        <input class="form-control" asp-for="FirstName" readonly />
    </div>
    <div class="mb-3">
        <label class="col-form-label" asp-for="LastName"></label>
        <input class="form-control" asp-for="LastName" readonly />
    </div>
    <div class="mb-3">
        <label class="col-form-label" asp-for="PhoneNumber"></label>
        <input class="form-control" asp-for="PhoneNumber" readonly />
    </div>
    <div class="mb-3">
        <label class="col-form-label" asp-for="Email"></label>
        <input class="form-control" asp-for="Email" readonly />
    </div>
    <button class="btn btn-danger">Delete</button> |
    <a class="btn btn-light" asp-action="Index">Back To List</a>
</form>
@section Scripts {
    <Partial name="_ValidationScriptsPartial"></Partial>
}