<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <!-- Font Icon -->
    <link rel="stylesheet" href="~/fonts/material-icon/css/material-design-iconic-font.min.css">
    <!-- Main css -->
    <link rel="stylesheet" href="~/css/tempStyle.css">
</head>
<body>

    <div class="main">

        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    @RenderBody()
                    <div class="signup-image">
                        <figure><img src="~/files/images/signup-image.jpg" alt="sing up image"></figure>
                        <a asp-action="@ViewBag.StateUrl" class="signup-image-link">@ViewBag.State</a>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>